<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width , initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="./img/favicon.ico">
    <title>Couple</title>
    <!-- Bootstrap core CSS -->
    <link href="./css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="./css/album.css" rel="stylesheet">
    <!-- My CSS -->
    <link rel="stylesheet" type="text/css" href="./css/mystyle.css">
    <link rel="stylesheet" type="text/css" href="./css/clock.css">
    <script type="text/javascript">
    var touch = true;
    function play(){
      if(touch){
        document.getElementById('love').src = "./wav/60.wav";
        document.getElementById('love').play();
        touch = !touch;
      }else{
        document.getElementById('love').src = "./wav/6.wav";
        document.getElementById('love').play();
        touch = !touch;
      }
    }
    </script>
  </head>
  <body background="./img/1465128885084.jpg">
    <div class="collapse bg-dark" id="navbarHeader">
      <div class="container">
        <div class="row">
          <div class="col-sm-8 col-md-7 py-2">
            <h4 class="text-white">About</h4>
            <p class="text-muted">很久以前有一個人叫做汶昇，他是個啦啦隊社長，他積極的在各大新生社團發文招募新社員，那年他的桃花運也非常的旺，手機不斷叮咚叮咚的叫，都是新生（女生比較多）來詢問，於是他廣放魚線，看能不能釣到美人魚回家，就在某一天，宛儒回了汶昇的文章，汶昇開始展開猛烈的攻勢，讓宛儒措手不及，每天聊到半夜都不肯休息，汶昇還使用大決，為了不讓第二天開始沒話題，故意在睡前就不回訊息，隔天早上在回，就這樣一日復一日，美人魚終於上鉤了，在望高寮進行收線的作業（告白），最後抱得美人歸</p>
          </div>
          <div class="col-sm-4 offset-md-1 py-2">
            <h4 class="text-white">幕後花絮</h4>
            <ul class="list-unstyled">
              <li><a href="https://drive.google.com/drive/folders/0B6M9S92BCZl1WjNEX19vVzJPX3M?usp=sharing" class="text-white">點點滴滴</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="navbar navbar-dark bg-dark box-shadow">
      <div class="container d-flex justify-content-between">
        <a href="#" class="navbar-brand d-flex align-items-center">
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="mr-2"><path d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z"></path><circle cx="12" cy="13" r="4"></circle></svg>
          <strong>Couple</strong>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation" onclick="play()">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
    </div>
    <h1 class="title">手牽手</h1>
    <h3 class="day">{{ date }}天</h3>
    <audio id="love">
      <source src="" type="audio/wav">
    </audio>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="./script/jquery-slim.min.js"><\/script>')</script>
    <script src="./script/popper.min.js"></script>
    <script src="./script/bootstrap.min.js"></script>
    <script src="./script/holder.min.js"></script>
  </body>
</html>
